html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff08;
    text-align: justify;
    text-justify: inter-word;
}
a {
    text-decoration: none
}