@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joke Application</h1>
    <p>
    Looking for a quick pick-me-up? Need to brighten your day with a hearty laugh? Look no further! Our joke application is here 
        to provide you with endless amusement and entertainment. With a vast collection of hilarious jokes, puns, and witty one-liners, our app is your go-to source for instant laughter.
    </p>
</div>
